/*Ссылка для переключения языка*/
.header__lang-link {
  margin: 0; /*внешний отступ справа 18px*/
  padding: 0; /*убрать внутренние отступы*/

  text-decoration: none; /*убрать подчеркивание ссылки*/
  color: inherit; /*цвет шрифта взять у родителя (указан белый цвет текста для блока header)*/

  /*Настройки отображения текста*/
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;

  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.header__lang-link:hover {
  opacity: 0.8;
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 768px до 1023px*/
@media (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
  }
}

