.place__title {
  grid-area: title;
  margin: 0 16px 0 16px;
  padding: 0;

  color: inherit; /*Унаследовать цвет текста у родителя*/

  /*Настройки отображения текста*/
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 768px до 1023px*/
@media (min-width: 768px) {
  .place__title {
    margin: 0;

    font-size: 42px;
    line-height: 46px;

    /*прижать заголовок к левому нижнему краю*/
    align-self: end;
    justify-self: start;

  }
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 1024px до 1279px*/
@media (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}
