/*Блок page - основной блок, который содержит все блоки html страницы*/
.page {
  margin: 0 auto 0 auto; /*выровнять блок по центру экрана для экранов с размером больше 1280px, обнулить внеший верхний и нижний отступы*/
  padding: 0; /*обнулить внутренние отступы*/
  background: #2A2C2F; /*цвет фона - темный*/
  min-width: 320px; /*ограничение по минимальной ширине*/
  max-width: 768px; /*ограничение по максимальной ширине*/
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 768px до 1023px*/
@media (min-width: 768px) {
  .page {
    min-width: 768px; /*ограничение по минимальной ширине*/
    max-width: 1024px; /*ограничение по максимальной ширине*/
  }
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 1024px до 1279px*/
@media (min-width: 1024px) {
  .page {
    min-width: 1024px; /*ограничение по минимальной ширине*/
    max-width: 1280px; /*ограничение по максимальной ширине*/
  }
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 1280px до бесконечности*/
@media (min-width: 1280px) {
  .page {
    min-width: 1280px; /*ограничение по минимальной ширине*/
    max-width: 1280px; /*ограничение по максимальной ширине*/
  }
}
