.place__image {
  grid-area: image;
  margin: 0;
  padding: 0;

  /*сделать изображение адаптивным*/
  width: 100%;
  height: auto;

  object-fit: contain; /*выровнять изображение в границах блока с сохранением пропорций изображения*/
}
