/*Логотип Россия в шапке страницы слева вверху*/
.header__logo {
  margin: 0; /*обнулить внешние отступы*/
  padding: 0; /*обнулить внутренние отступы*/
  width: 142px; /*ширина логотипа*/
  height: 42px; /*высота логотипа*/
  object-fit: contain; /*выровнять изображение в границах блока с сохранением пропорций изображения*/
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 768px до 1023px*/
@media (min-width: 768px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}
