/*Самый верхний блок - шапка сайта. Содержит логотип и переключатели языка RU EN*/
.header {
  margin: 0; /*обнулить внешние отступы*/
  padding: 16px 16px 0 16px; /*обнулить внутрение оступы*/
  background: #2A2C2F; /*цвет фона - темный*/

  display: flex; /*Определил блок header как флекс контейнер*/
  flex-direction: row; /*выстроить блоки в линию по горизонтали слева на право*/
  justify-content: space-between; /*прижать блоки к левому и правому краю, равномерно распределив по ширине контейнера*/
  align-items: flex-start; /*выровнять блоки по центру по вертикали*/

  font-family: 'Inter', Arial, sans-serif; /*Использовать шрифт Inter*/
  color: #FFFFFF; /*Цвет шрифта - белый*/

  /*Сглаживание шрифтов*/
  -webkit-font-smoothing: antialiased; /*сглаживание шрифтов в Safari и во всех браузерах на платформе Chromium*/
  -moz-osx-font-smoothing: grayscale; /*сглаживание шрифтов в Mozilla Firefox*/
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 768px до 1280px*/
@media (min-width: 768px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 1024px до 1279px*/
@media (min-width: 1024px) {
  .header {
    padding-right: 48px;
    padding-left: 48px;
  }
}
