.lead__title {
  margin: 0 auto 0 auto;
  padding: 0;

  width: 288px;
  height: 88;

  color: inherit; /*цвет шрифта взять у родителя (указан белый цвет текста для блока header)*/

  /*Настройки отображения текста*/
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 768px до 1023px*/
@media (min-width: 768px) {
  .lead__title {
    width: 720px;
    height: 200px;

    font-size: 96px;
    line-height: 100px;
  }
}
