/*Блок меню для выбора языка страницы Ru или En*/
.header__lang-menu {
  margin: 14px 0 8px auto; /*внешний оступ сверху 14px, снизу 8px*/
  padding: 0; /*обнулить внутренние отступы*/
  list-style: none; /*убрать маркеры*/

  display: flex; /*преобразовать блок ul во flex контейнер*/
  flex-direction: row; /*выстроить блоки в линию по горизонтали слева на право*/
  justify-content: flex-start; /*прижать блоки к левому краю*/
  align-items: flex-start; /*прижать блоки к верху*/
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 768px до 1023px*/
@media (min-width: 768px) {
  .header__lang-menu {
    margin-top: 18px;
    margin-bottom: 6px;
  }
}
