/** { border: 1px solid red; }*/

.root {
  margin: 0;
  padding: 0;

  /*Цвет фона - светло серый. Если сделать весь фон темным получается некрасиво.
  Поэтому менять фон не стоит, так как это вредит дизайну и эргономике сайта.*/
  background: #E5E5E5;
}


