.lead__subtitle {
  margin: 16px 16px 0 16px;
  padding: 0;

  color: inherit; /*цвет шрифта взять у родителя (указан белый цвет текста для блока header)*/

  /*Настройки отображения текста*/
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 768px до 1023px*/
@media (min-width: 768px) {
  .lead__subtitle {
    margin: 32px 64px 0 64px;

    font-size: 30px;
    line-height: 36px;
  }
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 1024px до 1279px*/
@media (min-width: 1024px) {
  .lead__subtitle {
    margin-right: 144px;
    margin-left: 144px;
  }
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 1280px до бесконечности*/
@media (min-width: 1280px) {
  .lead__subtitle {
    margin-right: 172px;
    margin-left: 172px;
  }
}
