.lead__subtitle {
  margin: 16px auto 0 auto;
  padding: 0;

  width: 288px;
  height: 40px;

  color: inherit; /*цвет шрифта взять у родителя (указан белый цвет текста для блока header)*/

  /*Настройки отображения текста*/
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 768px до 1023px*/
@media (min-width: 768px) {
  .lead__subtitle {
    margin-top: 32px;

    width: 640px;
    height: 72px;

    font-size: 30px;
    line-height: 36px;
  }
}
