.lead__caption {
  margin: 8px auto 0 16px;
  padding: 0;

  color: inherit; /*цвет шрифта взять у родителя (указан белый цвет текста для блока header)*/
  text-transform: uppercase; /*все буквы в тексте заглавными*/

  /*Настройки отображения текста*/
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-align: left;
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 768px до 1023px*/
@media (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

/*Медиазапрос - задать новые свойства блока для экранов с разрешением от 1024px до 1279px*/
@media (min-width: 1024px) {
  .lead__caption {
    margin-left: 0;
  }
}
