.place__url-heading {
  margin: 0;
  padding: 0;

  color: #AAAAAA;

  /*Настройки отображения текста*/
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-align: left;
}
